body {
  background-color:#F7ad45;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 250px;
  padding-top: 25px;
  flex-shrink: inherit;
}
.hidden {
  display: none;
}
.header {
  font-size: xx-large;
}
.toppings {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #5f8d37;
  border-left: 200px solid #bb3e00;
  border-right: 200px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.premium {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 175px solid #bb3e00;
  border-right: 175px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.free {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 150px solid #bb3e00;
  border-right: 150px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.size {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 125px solid #bb3e00;
  border-right: 125px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}
