body {
  background-color:#F7ad45;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  font-size: xx-large;
}
.toppings {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #5f8d37;
  border-left: 300px solid #bb3e00;
  border-right: 300px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.premium {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 300px solid #bb3e00;
  border-right: 300px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.free {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 300px solid #bb3e00;
  border-right: 300px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}

.size {
  font-size: large;
  color: rgb(0, 0, 0);
  list-style-position: inside;
  background-color: #FFF1D7;
  padding-right: 30px;
  border-top: 20px solid #F7ad45;
  border-left: 300px solid #bb3e00;
  border-right: 300px solid #bb3e00;
  border-bottom: 20px solid #5f8d37;
  padding-top: 10px;
}
.button {
font-size: xx-large

}
